/* titillium-web-200 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('fonts/titillium-web-v9-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/titillium-web-v9-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/titillium-web-v9-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/titillium-web-v9-latin-200.woff') format('woff'), /* Modern Browsers */
       url('fonts/titillium-web-v9-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/titillium-web-v9-latin-200.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-regular - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/titillium-web-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/titillium-web-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/titillium-web-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/titillium-web-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/titillium-web-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/titillium-web-v9-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-600 - latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/titillium-web-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/titillium-web-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/titillium-web-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/titillium-web-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/titillium-web-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/titillium-web-v9-latin-600.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}

/* variables */
:root {
  --bgGradientStart: rgb(234,234,234);
  --bgGradientEnd: rgb(210,210,210);
  --mainTextColor: #333;
  --cntElementBackground: #eee;
  --cntNumberTextColor: #fff;
  --btnBackgroundColor: #ddd;
  --btnDisabledTextColor: #888;
  --logoManuColor: #000;
}

/* page styles */
* {
  padding: 0;
  margin: 0;
  font-family: "Titillium Web",sans-serif;
}
html {
  height: 100%;
}
body {
  color: var(--mainTextColor);
  text-align: center;
  background-color: var(--bgGradientStart);
  background: linear-gradient(-45deg, var(--bgGradientStart) 0%, var(--bgGradientEnd) 100%);
  font-weight: 200;
  height: 100%;
}
h1 {
  color: var(--mainTextColor);
  font-size: 6vw;
  font-weight: 400;
}
h2 {
  color: var(--mainTextColor);
  font-size: 4vw;
  font-weight: 400;
}
label {
  font-size: 2vw;
}
input {
  font-size: 2vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border-radius: 1vh;
}
button {
  font-size: 2vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border-radius: 1vh;
  color: var(--mainTextColor);
  background-color: var(--btnBackgroundColor);
}
button:disabled {
  color: var(--btnDisabledTextColor);
  border: 0px;
}

#clockdiv {
  font-family: sans-serif;
  color: var(--mainTextColor);
  display: inline-block;
  text-align: center;
  font-size: 3vw;
}
#clockdiv > div {
  border-radius: 1vh;
  background-color: var(--cntElementBackground);
  display: inline-block;
  width: 20vw;
  padding-bottom: 1vh;
}
#clockdiv div > span {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 1vh;
  margin-bottom: 1vh;
  font-size: 5vw;
  font-weight: 600;
  width: 100%;
  background-color: #444; /* fixed color as this does not change in light / dark mode */
  background-image: url("data:image/svg+xml;utf8,%3Csvg preserveAspectRatio='none' viewBox='0 0 1 1' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='g'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3Cmask id='m'%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23g)'%3E%3C/rect%3E%3C/mask%3E%3ClinearGradient id='a' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%2375B843'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%23E71C77'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientTransform='rotate(90)'%3E%3Cstop offset='0' stop-color='%23003D7C'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%2334AED6'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23a)' mask='url(%23m)'%3E%3C/rect%3E%3Crect x='0' y='0' width='1' height='1' fill='url(%23b)' mask='url(%23m)' transform='translate(1,1) rotate(180)'%3E%3C/rect%3E%3C/svg%3E");
  background-size: 100% 100%;
  color: var(--cntNumberTextColor);
  display: inline-block;
}
.smalltext {
  font-weight: 400;
}
.finishedText {
  font-size: 5vw;
}

.setupContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  text-align: center;
}
.setupItems {
  display: grid;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  grid-template-columns: 25vw 25vw 25vw 25vw 0px;
  padding-bottom: 2vw;
}
.setupLeftColumn {
  grid-column: 2;
}
.setupRightColumns {
  grid-column: 3;
}
.setupCenterColumns {
  grid-column-start: 2;
  grid-column-end: 4;
}
.setupFullWidth {
  grid-column-start: 1;
  grid-column-end: 5;
}
.setupHintText {
  font-size: 1.5vw;
}

.fullSize {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.countdownViewLayout {
  display: grid;
  grid-template-rows: 25% auto 15% 5vw;
  height: 100%;
}
.countdownViewRowOne {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdownViewRowTwo {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdownViewRowThree {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdownViewRowFour {
  grid-row: 4;
  display: grid;
  grid-template-columns: 10vw auto auto 10vw;
}

.countdownViewFooterColumnOne {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdownViewFooterColumnTwo {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdownViewFooterColumnThree {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdownViewFooterColumnFour {
  grid-column: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoHolderManu {
  padding-top: 0.35vw;
  width: 4vw;
}
.logoHolderBix {
  padding-top: 0.35vw;
  width: 5vw;
}

.colorModeToggle {
  position: absolute;
  top: 1vh;
  right: 1vw;
}

/* animations for reaching 0 */
.numbersRotationA {
  -webkit-animation: numberRotateA 2s linear 3;
  animation: numberRotateA 2s linear 3;
}
@-webkit-keyframes numberRotateA {
  0% {-webkit-transform: rotate(0);}
  100% {-webkit-transform: rotate(360deg);}
}
@keyframes numberRotateA {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

.numbersRotationB {
  -webkit-animation: numberRotateB 2s linear 3;
  animation: numberRotateB 2s linear 3;
}
@-webkit-keyframes numberRotateB {
  0% {-webkit-transform: rotate(0);}
  100% {-webkit-transform: rotate(-360deg);}
}
@keyframes numberRotateB {
  0% {transform: rotate(0);}
  100% {transform: rotate(-360deg);}
}

.textPulsing {
  -webkit-animation: textPulse 2s ease 3;
  animation: textPulse 2s ease 3;
}
@-webkit-keyframes textPulse {
  0% {font-size: 5vw;}
  50% {font-size: 10vw;}
  100% {font-size: 5vw;}
}
@keyframes textPulse {
  0% {font-size: 5vw;}
  50% {font-size: 10vw;}
  100% {font-size: 5vw;}
}

/* svg styles */
.logoManuLineStyle {fill: none; stroke: var(--logoManuColor); stroke-miterlimit: 10; stroke-width: 10px;}

@media (prefers-color-scheme: dark) {
  :root {
    --bgGradientStart: rgb(12,12,12);
    --bgGradientEnd: rgb(34,34,34);
    --mainTextColor: #bbb;
    --cntElementBackground: #222;
    --cntNumberTextColor: #fff;
    --btnBackgroundColor: rgb(10,10,10);
    --btnDisabledTextColor: #444;
    --logoManuColor: #aaa;
  }
}